#include <windows.h>

#ifndef SAEED_VERSION
#define SAEED_VERSION "2.0"
#endif

#ifndef SAEED_BUILD_NUMBER
#define SAEED_BUILD_NUMBER 0
#endif

#define STR2(x) #x
#define STR(x) STR2(x)

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 2,0,0,0
 PRODUCTVERSION 2,0,0,0
 FILEFLAGSMASK 0x3fL
 FILEFLAGS 0x0L
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904B0"
    BEGIN
      VALUE "CompanyName", "Saeed O. Almansour\0"
      VALUE "FileDescription", "Saeed AI desktop agent\0"
      VALUE "InternalName", "Saeed.exe\0"
      VALUE "OriginalFilename", "Saeed.exe\0"
      VALUE "ProductName", "Saeed AI\0"
      VALUE "ProductVersion", SAEED_VERSION "\0"
      VALUE "FileVersion", SAEED_VERSION "\0"
      VALUE "Publisher", "Saeed O. Almansour\0"
      VALUE "BuildNumber", STR(SAEED_BUILD_NUMBER) "\0"
      VALUE "LegalCopyright", "Copyright (C) Saeed O. Almansour\0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0409, 1200
  END
END
